<a href="https://colab.research.google.com/github/farazhaider678/Python_Notebooks/blob/main/python_notebook1_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = "Hello World!"

In [4]:
a

'Hello World!'

In [5]:
print(a)

Hello World!

In [6]:
a = 10

In [7]:
b = 20

In [8]:
c = a + b

In [9]:
print(c)

30

In [10]:
s = "New York"

In [11]:
print(type(s))

<class 'str'>

In [12]:
print(len(s))

8

In [13]:
print(s)

New York

In [14]:
# Concatenate 2 Strings
a = "I Love "
b = "ICE CREAM"
print(a + b)

I Love ICE CREAM

In [15]:
# Getting character at given position
print(b[2])

E

In [16]:
# Swapping 2 variables using the 3 variable
first = "FIRST"
second = "SECOND"
print("BEFORE")
print(first + " " + second)
temp = first
first = second
second = temp
print("AFTER")
print(first + " " + second)

BEFORE
FIRST SECOND
AFTER
SECOND FIRST

In [17]:
# Swapping without using third variable
first = "FIRST"
second = "SECOND"
print("BEFORE")
print(first + " " + second)
first, second = second, first
print("AFTER")
print(first + " " + second)

BEFORE
FIRST SECOND
AFTER
SECOND FIRST

In [19]:
# Printing Option - 1
name = "Faraz"
age = "33"
course = "Master of Science"
location = "UPGRAD"
print("My name is {}. I am {} years old. I am pursuing {} from {}.".format(name, age, course, location))

My name is Faraz. I am 33 years old. I am pursuing Master of Science from UPGRAD.

In [20]:
# Printlng Option - 2
name = "Faraz"
age = "33"
course = "Master of Science"
location = "UPGRAD"
print(f"My name is {name}. I am {age} years old. I am pursuing {course} from {location}.")

My name is Faraz. I am 33 years old. I am pursuing Master of Science from UPGRAD.

In [21]:
# Changing string to Capital
a = "Hello Brother!"
print(a.upper())

HELLO BROTHER!

In [22]:
# Changing String to Small
a = "HELLO BROTHER!"
print(a.lower())

hello brother!

In [23]:
# Taking Input from User
name = input("Enter your name: ")
print(f"Your name is {name}")

Enter your name: Faraz Haider
Your name is Faraz Haider

In [24]:
# Mini Challenge: Take name as input from user and print "Hello <name>!"
name = input("Whats your name: ")
print(f"Hello {name}!")

Enter your name: Faraz Haider
Hello Faraz Haider!

In [37]:
# Using Membership operator "in"
vanila = "vanila"
in_check = vanila in ["vanila", "strawberry"]
print("IN CHECK: " + str(in_check)) # Casting to String
# Using Membership operator "not in"
butter_scoth = "butter scotch"
not_in_check = butter_scoth not in ["vanila", "strawberry"]
print("NOT IN CHECK: " + str(not_in_check)) # Casting to String

IN CHECK: True
NOT IN CHECK: True