<a href="https://colab.research.google.com/github/farazhaider678/Python_Notebooks/blob/main/python_notebook1_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = "Hello World!"

In [4]:
a

'Hello World!'

In [5]:
print(a)

Hello World!

In [6]:
a = 10

In [7]:
b = 20

In [8]:
c = a + b

In [9]:
print(c)

30

In [10]:
s = "New York"

In [11]:
print(type(s))

<class 'str'>

In [12]:
print(len(s))

8

In [13]:
print(s)

New York

In [14]:
# Concatenate 2 Strings
a = "I Love "
b = "ICE CREAM"
print(a + b)

I Love ICE CREAM

In [15]:
# Getting character at given position
print(b[2])

E

In [16]:
# Swapping 2 variables using the 3 variable
first = "FIRST"
second = "SECOND"
print("BEFORE")
print(first + " " + second)
temp = first
first = second
second = temp
print("AFTER")
print(first + " " + second)

BEFORE
FIRST SECOND
AFTER
SECOND FIRST

In [17]:
# Swapping without using third variable
first = "FIRST"
second = "SECOND"
print("BEFORE")
print(first + " " + second)
first, second = second, first
print("AFTER")
print(first + " " + second)

BEFORE
FIRST SECOND
AFTER
SECOND FIRST

In [19]:
# Printing Option - 1
name = "Faraz"
age = "33"
course = "Master of Science"
location = "UPGRAD"
print("My name is {}. I am {} years old. I am pursuing {} from {}.".format(name, age, course, location))

My name is Faraz. I am 33 years old. I am pursuing Master of Science from UPGRAD.

In [20]:
# Printlng Option - 2
name = "Faraz"
age = "33"
course = "Master of Science"
location = "UPGRAD"
print(f"My name is {name}. I am {age} years old. I am pursuing {course} from {location}.")

My name is Faraz. I am 33 years old. I am pursuing Master of Science from UPGRAD.

In [21]:
# Changing string to Capital
a = "Hello Brother!"
print(a.upper())

HELLO BROTHER!

In [22]:
# Changing String to Small
a = "HELLO BROTHER!"
print(a.lower())

hello brother!

In [23]:
# Taking Input from User
name = input("Enter your name: ")
print(f"Your name is {name}")

Enter your name: Faraz Haider
Your name is Faraz Haider

In [24]:
# Mini Challenge: Take name as input from user and print "Hello <name>!"
name = input("Whats your name: ")
print(f"Hello {name}!")

Enter your name: Faraz Haider
Hello Faraz Haider!

In [37]:
# Using Membership operator "in"
vanila = "vanila"
in_check = vanila in ["vanila", "strawberry"]
print("IN CHECK: " + str(in_check)) # Casting to String
# Using Membership operator "not in"
butter_scoth = "butter scotch"
not_in_check = butter_scoth not in ["vanila", "strawberry"]
print("NOT IN CHECK: " + str(not_in_check)) # Casting to String

IN CHECK: True
NOT IN CHECK: True

In [10]:
x1, y1, x2, y2, d1, d2 = 7, 7, 'Hello', 'Hello', {'a':1, 'b':2}, {'a':1, 'b':2}
x1_is_y1 = id(x1) is id(y1)
print("x1_is_y1: " + str(x1_is_y1))
x2_is_y2 = x2 is y2
print("x2_is_y2: " + str(x2_is_y2))
d1_is_d2 = d1 is d2
print("d1_is_d2: " + str(d1_is_d2))

x1_is_y1: False
x2_is_y2: True
d1_is_d2: False

In [2]:
# Create list of integers
my_list = {1,2,3}
print(my_list)
# Create list of random type values
my_list = {'A string',23,100.232,'o'}
print(my_list)
# Print length of the list
len(my_list)

{1, 2, 3}
{'o', 'A string', 100.232, 23}

4

In [7]:
# Declare and define a list
my_list = ["one", "two", "three", 4, 5]
# Print the list
print(my_list)
# Get 0th Element of the list
print(my_list[0])
# Print all elements of the list
print(my_list[:])
# Print first 3 elements of the list
print(my_list[:3])
# Print last 3 elements of the list
print(my_list[2:])
# Print element at 3rd position
print(my_list[2])
# Adding one list to another list
new_list = ["six", "seven", "eight", 9, 10]
full_list = my_list + new_list
print(full_list)

['one', 'two', 'three', 4, 5]
one
['one', 'two', 'three', 4, 5]
['one', 'two', 'three']
['three', 4, 5]
three
['one', 'two', 'three', 4, 5, 'six', 'seven', 'eight', 9, 10]

In [17]:
# Create a list of 10 numbers
num_list = list(range(10))
print(num_list)
# Print elements from 4 to 7
print(num_list[4:7])
# Print alternate elements from start
print(num_list[::2])
# Print every 3rd elemrnt starting from 1
print(num_list[1::3])
# Print odd indices upto 7
print(num_list[1:7:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]
[0, 2, 4, 6, 8]
[1, 4, 7]
[1, 3, 5]

In [25]:
# Create a Dictionary
my_dict = {"key1": "value1", "key2" : "value2", "key3" : "value3"}
# Access value by keys
print(my_dict["key1"])
print(my_dict["key2"])
print(my_dict["key3"])
# Print all keys
print(my_dict.keys())
# Print all values
print(my_dict.values())

value1
value2
value3
dict_keys(['key1', 'key2', 'key3'])
dict_values(['value1', 'value2', 'value3'])

In [30]:
# Create Tuple
my_tuple = ("one", "two", "three", 4, 5)
# Print Tuple
print(my_tuple)
# Type
print(type(my_tuple))
# Print 3rd element of the tuple
print(my_tuple[2])
# Create new tuple
my_tuple2 = ("six", "seven", "eight", 9, 10)
# Add 2 tuples and store in a new tuple type variable mhy_tuple3
my_tuple3 = my_tuple + my_tuple2
# Printing all values of My_tuple3
print(my_tuple3)

('one', 'two', 'three', 4, 5)
<class 'tuple'>
three
('one', 'two', 'three', 4, 5, 'six', 'seven', 'eight', 9, 10)